.bilkent-logo {
    display: block;
    margin: 0 auto; 
    width: 80px; 
    height: auto;
    max-width: 60%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fbfbfb;
    margin: 0;
}

.main-div {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: darkblue;
}
